/*公用*/
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,select,textarea,form{margin: 0; padding: 0;}
.fl{float: left;}
.fr{float: right;}
.main{width: 990px; margin: 0 auto;}
ul{list-style: none;}
/*导航*/
header{width:auto;height: 40px;background-color: #222; margin: 0 auto;}
.headercon{width: 990px;height: 40px; margin: 0 auto;}
.topnav{margin-top: 10px;height: 30px;width: 429px;}
.topnav li{display: inline; color: #a1a1a1;font-size: 12px;margin:0 4px;}
.service{height: 30px; width:395px;color: #3bbdf9;margin-top: 10px;}
.service img{vertical-align: middle;font-size: 16px;}
.service span{font: 20px arial ;margin-top: 13px;}
.service input{margin-left: 28px;background-color: #38b89f;border-radius:5px;border: none; width: 130px;height: 23px;font-size: 12px; color: #fff;}
.nav{height: 73px;}
.logo{width: 363px;height: 57px;font: 24px 方正正黑简体;margin-top: 16px;}
.logo img{vertical-align: middle;}
.mainbav{margin-top: 25px; height: 48px; width: 568px;}
.mainbav li{display: inline; color: #555;font-size: 15px;margin:0 8px;}
.banner{height: 644px; width:auto;}
.banner img{height: 591px;width: auto;}
.content{height: 420px; margin-bottom: 40px;}
.content_title{height: 20px;font-size: 20px;font-weight: bold; margin-bottom: 43px;}
.content_title1{color: #0087d1;}
.content_title2{color: #444;margin-left: 31px;}
.content_bor{height: 366px;}
.content_bor1{border: 1px solid #e6e6e6;padding: 8px 8px ;margin-right: 5px;}
.content_bor p{font-size: 22px;color: #cc2a1e;}
/*问题*/
.banner_baby{height: 659px;background-color: #38b89f;}
.banner_baby_fonts{padding: 52px 0 62px 0;}
.banner_baby_font{width: 557px;height: 545px;}
.banner_baby_font p{color: #fff;}
.banner_baby_font_tag1{font-size: 40px;padding-top: 35px;}
.banner_baby_font_tag2{font-size: 26px;padding-top: 18px;padding-bottom: 40px;}
.banner_baby_font_tag3 ul{font-size: 20px;padding: 17px 0 17px 0;color: #fff;}
.banner_baby_font_tag3 img{padding: 0  18px 0  4px;}
.banner_baby_font_tag3_fo{font-size: 30px;}
.banner_baby_font_tag3_fo_sm{font-size: 60px;}
.banner_baby_img{width: 343px; height: 545px;}
/*标题*/
.hot{height: 200px;background-color: #f5efe8;}
.hot p{text-align:center;}
.hot_fontbig{font-size: 40px;padding-top: 47px;font-weight: bold;}
.hot_fontsm{ font-size: 26px;padding-top: 19px;color: #cc2a1e;font-weight: bold;}

/*小标题 图文 内容*/
.description{height: 450px;margin-top: 96px;}
.description_hot img{ margin :0 74px;}
.description_font{margin-top: 30px;}
.description_font p{width: 182px;margin :0 74px;font-size: 18px;text-align:center;}
.description_tag img{margin :30px 127px;}

.sideBar{width: 1088px; margin: 0 auto;}
.summary{height: 530px;margin-top: 15px;}
.summary_right{width: 679px;height:410px;margin-top: 50px;}
.summary_right_a{margin-left: 40px;margin-bottom: 20px;}
.summary_right_a span{font-size: 20px;font-weight: bold;}
.summary_right_a p{font-size: 18px;margin-left: 25px;}

.banner_con{height: 662px;background-color: #38b89f;}
.banner_des_tit {font-size:40px ;font-weight: bold;color: #fff;height: 130px;margin-top:90px; }
.banner_des_bor{height: 530px;}
.banner_des_bor_a{width: 530px;font-size: 22px; color: #fff;}
.banner_des_bor_a p{margin-bottom: 20px;}
.banner_des_bor_b{position: absolute; left: 670px;  top: 3399px;}

.end{height: 1050px;}
.end_tita {height: 340px;}
.end_tita p{font-size: 26px;font-weight: bold;margin-top: 47px;}
.end_tita img{margin: 27px 17px 0 0;}
.end_titb{height: 330px;}
.end_titb p{font-size: 26px;font-weight: bold;margin-bottom: 20px;}

.end_titc{height: 400px;}
.end_titc_a{width: 305px; height: 330px;}
.end_titc_a_tit {font-size: 20px;font-weight: bold;}
.end_titc_a_tit span{color: #2690d4;font-size: 12px;margin-top: 8px;}
.end_titc_a_img{width: 105px;}
.end_titc_a_img img {border: 1px solid #f1e8d9;margin-top: 25px; }
.end_titc_a_fon{width: 190px;}
.end_titc_a_fon_a{margin: 28px 0 38px 10px;}
.end_titc_a_fon_a span{ font-size:16px ;font-weight: bold;}
.end_titc_a_fon_a p{font-size: 14px;color: #80807f;margin-top: 10px;}
